<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The about page of <a href="https://www.facebook.com/music.muic">MUIC Music Club</a> Room Reservation System

  Having problems with reservation? Contact us at......
</p>