<!--<% provide(:title, "Home") %> -->
<!-- <h1>Asturias</h1> -->
<!-- <p>This is the home page of -->
  <!-- <a href="https://www.facebook.com/music.muic">MUIC Music Club</a> Room Reservation System -->
<!-- </p> -->

<div class="center jumbotron">
  <h1>Welcome to Asturias</h1>
  <h2>
    This is the home page for the
    <a href="https://www.facebook.com/music.muic">MUIC Music Club</a> Room Reservation System
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>