<!-- <!DOCTYPE html> -->
<!-- <html> -->
  <!-- <head> -->
    <!-- <title>Home | MUIC Music Club Room Reservation System</title> -->
  <!-- </head> -->
  <!-- <body> -->
<% provide(:title, "Home") %>
<h1>Asturias</h1>
<p>This is the home page of
  <a href="https://www.facebook.com/music.muic">MUIC Music Club</a> Room Reservation System
</p>
  <!-- </body> -->
 <!-- </html>