<footer class="footer">
  <small>
    MUIC Music Club Room Reservation System by tow02
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.facebook.com/music.muic">News</a></li>
    </ul>
  </nav>
</footer>